html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color:  deepskyblue;
  background-image: url(assets/freedom.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
}

.section {
  width: 90%;
  margin: 20vh auto 10vh;
  text-align: center;
  line-height: 1.5;
}

.text {
  font-size: 5vh;
  font-family: 'Roboto Mono', monospace; 
}

.name {
  font-size: 4vh;
  font-style: italic;
  font-family: 'Estonia', cursive;
}

nav {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
}

img {
  box-shadow: 0 0 5px 3px navajowhite;
  width: 6vh;
  height: 4vh;
}